h1{
    color: black;
font-weight: 600;
font-style: Semi Bold;
font-size: 22px;
line-height: 100%;
letter-spacing: 0%;
background-color: #867878;
width: 209px;
height: 33px;
display: flex;
padding-left: 12px;
align-items: center;
border-radius: 16px;
margin: 0;
}